<div class="sidebar">

    <div class="logo">
        TalentFlow
    </div>

    <ul class="nav-links">

        <li class="active">
            <a href="../pages/dashboard.html">Dashboard</a>
        </li>

        <li>
            <a href="../pages/courses.html">Courses</a>
        </li>

        <li>
            <a href="../pages/assignments.html">Assignments</a>
        </li>

        <li>
            <a href="../pages/submissions.html">Submissions</a>
        </li>

        <li>
            <a href="../pages/profile.html">Profile</a>
        </li>

    </ul>

    <div class="user-profile">

        <div class="avatar">👤</div>

        <div class="user-info">
            <p class="user-name">Mark Johnson</p>
            <p class="user-email">mark@email.com</p>
        </div>

    </div>

</div>